<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">

    <script
            crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <script crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</head>
<body>


<nav th:replace="fragments/navbar :: navbar()"></nav>

<div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <!-- This makes sure to make a post request against host:8080/recipe with the object recipe received from
            the controller -->
            <form method="post" th:action="@{/recipe/}" th:object="${recipe}">

                <!-- If there were errors -->
                <div class="alert alert-danger" th:if="${#fields.hasErrors()}">
                    <p th:text="#{error.inputValidation}">Some inputs were incorrect, please fix them below</p>
                </div>

                <input th:field="*{id}" type="hidden"/>

                <div class="content">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title" th:text="#{title.recipeInformation}">Recipe information</h1>
                        </div>
                        <div class="card-body">
                            <!-- Description -->
                            <div class="row" style="margin-top: 10px">
                                <div class="col-lg-3 form-group" th:class="${#fields.hasErrors('description')}
                                ? 'col-lg-3 form-group text-danger' : 'col-lg-3 form-group'">
                                    <label th:text="#{recipe.description}">Recipe name:</label>
                                    <input class="form-control" th:errorclass="is-invalid"
                                           th:field="*{description}" type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors()}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}"
                                                th:text="${#strings.capitalize(err)}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <!-- categories radio buttons -->
                            <div class="row" style="margin-top: 10px">
                                <div class="col-lg-3 form-group">
                                    <label th:text="#{recipe.categories}">Categories:</label>
                                </div>
                                <div class="col-lg-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                                <div th:each="catEach, idx : ${recipe.categories}">
                                    <input th:field="*{categories[__${idx.index}__].id}" type="hidden"/>
                                    <input th:field="*{categories[__${idx.index}__].name}" type="hidden">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col-lg-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                ? 'col-lg-3 form-group text-danger' : 'col-lg-3 form-group'">
                                    <label th:text="#{recipe.prepTime}">Preparation time:</label>
                                    <input class="form-control" th:errorclass="is-invalid" th:field="*{prepTime}"
                                           type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}"
                                                th:text="${#strings.capitalize(err)}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-lg-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                ? 'col-lg-3 form-group text-danger' : 'col-lg-3 form-group'">
                                    <label th:text="#{recipe.cookTime}">Cooktime:</label>
                                    <input class="form-control" th:errorclass="is-invalid" th:field="*{cookTime}"
                                           type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}"
                                                th:text="${#strings.capitalize(err)}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label th:text="#{recipe.difficulty}">Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="diff : ${T(com.fedebonel.recipemvc.model.Difficulty).values()}"
                                                th:text="${diff.name().substring(0, 1) + diff.name().substring(1).toLowerCase()}"
                                                th:value="${diff.name()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col-lg-3 form-group" th:class="${#fields.hasErrors('servings')}
                                ? 'col-lg-3 form-group text-danger' : 'col-lg-3 form-group'">
                                    <label th:text="#{recipe.servings}">Servings:</label>
                                    <input class="form-control" th:errorclass="is-invalid" th:field="*{servings}"
                                           type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}"
                                                th:text="${#strings.capitalize(err)}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-lg-3 form-group" th:class="${#fields.hasErrors('sources')}
                                ? 'col-lg-3 form-group text-danger' : 'col-lg-3 form-group'">
                                    <label th:text="#{recipe.sources}">Source:</label>
                                    <input class="form-control" th:errorclass="is-invalid" th:field="*{sources}"
                                           type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('sources')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('sources')}"
                                                th:text="${#strings.capitalize(err)}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-lg-3 form-group" th:class="${#fields.hasErrors('url')}
                                ? 'col-lg-3 form-group text-danger' : 'col-lg-3 form-group'">
                                    <label th:text="#{recipe.url}">URL:</label>
                                    <input class="form-control" th:errorclass="is-invalid" th:field="*{url}"
                                           type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}"
                                                th:text="${#strings.capitalize(err)}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-top: 10px">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-11">
                                    <h1 class="card-title" th:text="#{recipe.ingredients}">Ingredients</h1>
                                </div>
                                <div class="col-lg-1">
                                    <a class="btn" href="#" role="button" th:text="#{edit}">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.amount
                                        + ' ' + ingredient.uom.unit
                                        + ' - ' + ingredient.description)}">1 Cup of milk
                                        </li>
                                    </ul>
                                    <div th:each="ingredientEach, idx : ${recipe.ingredients}">
                                        <input th:field="*{ingredients[__${idx.index}__].id}" type="hidden"/>
                                        <input th:field="*{ingredients[__${idx.index}__].description}" type="hidden"/>
                                        <input th:field="*{ingredients[__${idx.index}__].amount}" type="hidden"/>
                                        <input th:field="*{ingredients[__${idx.index}__].uom.id}" type="hidden"/>
                                        <input th:field="*{ingredients[__${idx.index}__].uom.unit}" type="hidden"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-top: 10px">
                        <div class="card-header">
                            <h1 class="card-title" th:text="#{recipe.directions}">Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 form-group" th:class="${#fields.hasErrors('directions')}
                                ? 'col-lg-12 form-group text-danger' : 'col-lg-12 form-group'">
                                    <textarea class="form-control" rows="4" style="white-space: pre-line"
                                              th:errorclass="is-invalid"
                                              th:field="*{directions}"></textarea>
                                    <span class="help-block" th:if="${#fields.hasErrors('directions')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('directions')}"
                                                th:text="${#strings.capitalize(err)}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-top: 10px">
                        <div class="card-header">
                            <h1 class="card-title" th:text="#{recipe.notes}">Notes</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 form-group">
                                    <input th:field="*{notes.id}" type="hidden"/>
                                    <!-- Remember the Id of the notes object -->
                                    <textarea class="form-control" rows="4" style="white-space: pre-wrap"
                                              th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="margin-top: 10px" th:text="#{submit}" type="submit">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>