body {
    padding-top: 75px;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.navbar {
    background: #8A624A;
}

.card-img-top {
    object-fit: cover;
}

.recipe-card-img {
    height: 300px;
}

.recipe-page-img {
    max-height: 500px;
}

.maintain-whitespaces {
    white-space: pre-wrap;
}

.white-filter {
    opacity: 1;
    filter: invert(100%);
    transition: 0.1s;
}

.white-filter:hover {
    opacity: 0.7;
}

.white-filter:active {
    transform: scale(1.1);
}

.vertical-center {
    min-height: 100%;

    display: flex;
    align-items: center;
}

.verify-img {
    object-fit: scale-down;
    max-height: 300px;
}